<div class="header">
    <h3>Data Storage</h3>
    <p>You need to be able to store users and other such information. You can configure as many database connections as you like, so it's easier to swap them out during
    testing, development etc.</p>
</div>
<h4>Existing Profiles</h4>
<table id="databaseprofiles">
<thead>
<tr>
    <th>Profile</th>
    <th>Connector</th>
    <th>Database</th>
</tr>
</thead>
    <tbody></tbody>
</table>
<div class="align-left">
<form id="createdatabase" class="small" method="post" action="/install/createdatabase">
    <div class="field">
        <div class="label">name</div>
        <div class="input"><input type="text" size="30" name="profilename" /></div>
    </div>
    <div class="field">
        <div class="label">connector</div>
        <div class="input"><input type="text" size="30" name="connector" value="MysqliConnector" /></div>
    </div>
    <div class="field">
        <div class="label">host</div>
        <div class="input"><input type="text" size="30" name="host" value="localhost" /></div>
    </div>
    <div class="field">
        <div class="label">database</div>
        <div class="input"><input type="text" size="30" name="database" value="" /></div>
    </div>
    <div class="field">
        <div class="label">username</div>
        <div class="input"><input type="text" size="30" name="username" value="" /></div>
    </div>
    <div class="field">
        <div class="label">password</div>
        <div class="input"><input type="text" size="30" name="password" value="" /></div>
    </div>
    <div class="button-panel">
        <button>Save</button>
    </div>
</form>
</div>
