<div class="header">
    <h4>Clean-up</h4>
    <p>There are some files that are put in place to deliver the site, these need cleaning up.</p>
    <ul>
        <li>Installation - These files are only deployed to get you started quicker. Afterward, they could prove a danger to your site.</li>
        <ul>
            <li>controllers/install.php</li>
            <li>views/install (directory)</li>
        </ul>
    </ul>
    <br />
    <h4>Templates</h4>
    <p>You should have created a template in the prior step. You probably want to go and set up your template properly, put some nice graphics in there. If you
    need to create a new template in the future, just create a new folder, and set the configuration to point to the new template.</p>
    <br />
    <h4>Changes</h4>
    <p>If you wish to change the profile you're using, you can do so by editing the core/configuration.xml file. It's a simple act of changing a setting and will
    apply next time a page is loaded. Don't worry, this file is protected from nosey people deciding to browse around. The .htaccess file on the directory
    means that anybody trying to browse that directory or its files will be presented with a username/password prompt. That is controlled totally by you.</p>
</div>