<div class="header">
<h3>Profiles</h3>
<p>Profiles are collections of settings such as database connection, site path etc. Useful for live, test and development.</p>
</div>
<form id="createprofile" class="small" action="/install/createprofile" method="post">
    <div class="field">
        <div class="label">name</div>
        <div class="input"><input type="text" name="profilename" size="30" />(ie. test, live, development)</div>
    </div>
    <div class="field">
        <div class="label">path</div>
        <div class="input"><input type="text" name="rootpath" size="30" />(ie. /var/www/newsite)</div>
    </div>
    <div class="field">
        <div class="label">database</div>
        <div class="input"><select name="databaseprofile"></select></div>
    </div>
    <div class="field">
        <div class="label">cookie name</div>
        <div class="input"><input type="text" name="cookiename" size="30" value="" />(ie. mysite)</div>
    </div>
    <div class="field">
        <div class="label">cookie path</div>
        <div class="input"><input type="text" name="cookiepath" size="30" value="/" /></div>
    </div>
    <div class="field">
        <div class="label">cookie domain</div>
        <div class="input"><input type="text" name="cookiedomain" size="30" value="." /></div>
    </div>
    <div class="button-panel">
        <button>Save</button>
    </div>
</form>