* {
    margin: 0px auto;
}

body {
    font-family: "Segoe UI", Helvetica, arial;
    font-size: 11pt;
    text-align: center;
}

#footer {
    font-size: .85em;
}

#page-content {
    text-align: left;
    width: 90%;
}

.header {
    margin: 0px 0px 10px 0px;
}

form.small {
    width: 50%;
}

form .field {
    display: block;
    height: 34px;
}

form h4, h5 {
    font-size: 1.1em;
    text-transform: lowercase;
}

form .field .label {
    font-weight: bold;
    min-width: 120px;
    display: inline-block;
    float: left;
    text-align: right;
    padding-right: 5px;
    line-height: 24px;
}

form .field .label:after {
    content: ':'
}

form .button-panel {
    text-align: center;
}